:root {
  --font: 'Roboto', sans-serif;

  --background: #fbfbfb;
  --text-inverted: #efefef;

  --background-contrast-500: #272626;
  --background-contrast: #2e2e2e;
  --background-contrast-300: #3F3F3F;
  --background-contrast-200: #646262;
  --background-contrast-100: #858181;

  --danger: #e86969;
}
